// This File is imported last, and will override other styles in the cascade
// Add styles here to make changes without digging in too much
$title-color:#7A7A7A;
$body-gray:#f2f2f2;
$red: #CC1743;

a {
  color:$red;
  &:hover {
    color:lighten($red,30%);
  }
  &:visited {
    color: desaturate($red, 10%);
  }
}

body>header {
  background:$body-gray;
  h1 {
    a {
      font-family:"Georgia";
      color:$title-color;
      &:hover,
      &:visited {
        color: $title-color;
      }
    }
  }
  h2 {
    font-family: "PT Sans";
    font-size: 13pt;
    margin: 0px;
  }
}

body>footer {
  background:0;
  border-top:0;
  text-transform:lowercase;
}

body>nav {
  border: 0;
  background: $body-gray;
  border-top: 0;
  border-bottom: 0;
  padding-top: 0;
  padding-bottom: 0;
  margin: 0;
  body>nav li+li {
    border-left:0;
  }
  a, 
  a:hover,
  a:visited {
    text-shadow:none;
    color:lighten($title-color,20%);
    text-transform:lowercase; 
  }
}

body {
  max-width:850px;
  margin:0px auto;
  font-size:11pt;
}
html {
  background:$body-gray;
}

body>div>div {

  background:$body-gray;
}
/* needed? */
/* get rid of collapsed sidebar style https://github.com/imathis/octopress/issues/342 */
body > div > div { border-right-width: 0px;}
.toggle-sidebar {
  display:none;
}


/* posts */
#content .blog-index article {
  padding-bottom:3rem;
  ul,
  ol {
    margin-left:3.3rem;
  }
}
.blog-index article+article {
  background:none;
}

article {
  .category-bit {
    text-transform:lowercase;
    font-size:90%;
    a,
    a:visited {
      color:lighten($title-color,10%);
    }
    a:hover {
      color:$title-color;
    }
  }
  blockquote {
    color: #4B4B4B;
    font-size:1em;
  }
  header {
    background:none;
    .entry-title {
      font-size:1.9em;
      font-weight:normal;
    }
  }
  h1 {
    color:#222;
  }
  h2, h3, h4 {
    font-weight:normal;
  }
  h2 {
    margin-bottom:1rem;
    background:none;
  }
}

.book-cover {
  margin:0px auto;
  display:block;
}
.caption {
  margin:0px auto;
  text-align:center;
  font-size:90%;
  margin-top:-1.5rem;
  margin-bottom:1rem; 
}
article header p.meta {
  position:static;
}
p, article blockquote, ul, ol {
  line-height:19pt;
}

aside.sidebar {
  section h1 {
    margin-bottom:0.3rem;
  }
  ul {
    margin-top: 0.5rem;
  }
  li {
  border-bottom:0;
  padding:0;
  }
}
